.jd_wrap {
    width: 100%;
    /* 最大宽度 */
    max-width: 640px;
    /* 最小宽度 */
    min-width: 320px;
    margin: 0 auto;
    background-color: #eee;
    /* height: 1000px; */
}

/* 顶部搜索模块 */
.jd_search {
    width: 100%;
    max-width: 640px;
    height: 40px;
    position: fixed;
    z-index: 999;
    background-color: rgba(233, 35, 34, 0)
}

.jd_logo {
    width: 56px;
    height: 30px;
    position: absolute;
    background: url(../images/jd-sprites.png);
    background-size: 200px 200px;
    background-position: 0 -108px;
    position: absolute;
    top: 5px;
    left: 10px;
}

.jd_login {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    line-height: 40px;
    color: white;
}

.jd_searchBox {
    width: 100%;
    height: 100%;
    padding-left: 76px;
    padding-right: 50px;
}

.jd_searchBox>input {
    width: 100%;
    height: 30px;
    margin-top: 5px;
    color: #666;
    border-radius: 15px;
    padding-left: 30px;
}

.jd_searchBox::before {
    content: "";
    width: 27px;
    height: 23px;
    position: absolute;
    background: url(../images/jd-sprites.png);
    background-size: 200px 200px;
    background-position: -56px -108px;
    left: 80px;
    top: 9px;
}

/* 轮播图 */
.jd_banner {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.jd_bannerImg {
    width: 1000%;
    position: relative;
    left: -100%;
}

.jd_bannerImg>li {
    float: left;
    width: 10%;
}

.jd_bannerImg>li img {
    display: block;
    width: 100%;
}

.jd_bannerC {
    width: 144px;
    height: 20px;
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translateX(-50%);
}

.jd_bannerC li {
    float: left;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid rgb(248, 244, 244);
    margin-right: 10px;
}

.current {
    background-color: #fff;
}

/* 导航栏 */
.jd_nav {
    width: 100%;
    padding: 10px 0;
    background-color: #fff;
}

.jd_nav li {
    float: left;
    width: 25%;
    text-align: center;
    margin-top: 10px;
    display: block;
}

.jd_nav li img {
    width: 50px;
}

.jd_nav li p {
    line-height: 25px;
    color: black;
}

/* 产品栏 */
.jd_product {
    width: 100%;
    background-color: #fff;
    margin-top: 10px;
    box-shadow: 1px 1px 1px #ccc;
}

.jd_productHead {
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding-left: 40px;
    border-bottom: 1px solid #ccc;
}

.jd_productHead>h3 {
    position: relative;
}

.jd_productHead>h3::before {
    content: "";
    width: 3px;
    height: 15px;
    background-color: red;
    position: absolute;
    top: 7px;
    left: -5px;
}

.jd_productImg {
    width: 100%;

}

.jd_productImg li {
    float: left;
    width: 50%;
}

.jd_productImg li a {
    /* display: block; */
    width: 100%
}

.jd_productImg li a img {
    width: 100%;
    display: block;
}

.jd_productImg ul li:nth-child(2) {
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.jd_productImg ul li:nth-child(3) {
    border-left: 1px solid #ccc;
}

/* 产品栏二 */
.jd_productImg>.jd_right {
    float: right;
}

/* 掌上秒杀栏 */
.jd_sk {
    position: relative;
}

.jd_sk>.jd_productHead {
    border: none;
}

.jd_sk .jd_skill_icon {
    width: 16px;
    height: 20px;
    background: url(../images/seckill-icon.png);
    background-size: 16px 20px;
    position: absolute;
    top: 3px;
    left: 10px;
}

.jd_sk .jd_skill_text {
    color: red;
    margin-right: 8px;
}

.jd_sk .jd_skill_time span {
    background-color: black;
    color: #fff;
    padding: 1px 2px;
}

.jd_sk .jd_skill_time span:nth-child(3n) {
    background-color: transparent;
    color: black;
}

.jd_sk .jd_right {
    margin-right: 8px;
    color: rgb(102, 99, 99);
}

.jd_sk .jd_product_skill {
    width: 100%;
    padding: 20px;
}

.jd_sk .jd_product_skill li {
    width: 33.3%;
    float: left;
    text-align: center;
    border-right: 1px solid rgb(163, 161, 161);
}

.jd_sk .jd_product_skill li:last-child {
    border: none;
}

.jd_sk .jd_product_skill a,
img {
    width: 80%;
    display: inline-block;
}

.red {
    color: red;
}