* {
    margin: 0;
    padding: 0;
}

#itemBox {
    width: 1050px;
    margin: 0 auto;
    position: relative;
}

.item {
    border: 1px solid #ccc;
    padding: 4px;
    position: absolute;
}

img {
    vertical-align: bottom;
}